<!DOCTYPE html>
<html lang="ko">
<head>
{% include "./layout/head_meta.html" %}
</head>
<body>
    <!-- 편집 팝업 -->
  <div class="pop-up">
    <h3>멤버 편집</h3>
    <div class="pop-head">
      <h4>멤버 편집</h4>
      <h5>생성된 멤버를 편집합니다.</h5>
    </div>
    <form action="">
      <ul class="pop-list">
        <li class="pop-info">
          <label for="member_id_ed">member id:</label>
          <input type="text" class="ip-basic" id="member_id_ed">
        </li>
        <li class="pop-info">
          <label for="member_name_ed">member name:</label>
          <input type="text" class="ip-basic" id="member_name_ed">
        </li>
        <li class="pop-info">
          <label for="valid_date_from_ed">valid date from:</label>
          <input type="date" class="ip-basic" id="valid_date_from_ed">
        </li>
        <li class="pop-info">
          <label for="valid_date_to_ed">valid date to:</label>
          <input type="date" class="ip-basic" id="valid_date_to_ed">
        </li>
      </ul>
      <div class="pop-btns">
        <button type="submit" class="popCreate">편집</button>
        <button type="reset" class="popCancel">취소</button>
      </div>
    </form>
  </div>
</body>
</html>